@{
    ViewData["Title"] = "Error";
}




<h3>В процессе работы приложения возникла ошибка</h3>
<p>
    Проверьте настройки в файле конфигурации. Минимальное и текущее время обновления (MinUpdateTime,UpdateTime) должны быть указаны в формате целого числа, больше 0. 
    Настройка параметра форматирования (DescriptionFormating) должна быть указана в формате true/false.
</p>

