@{
    ViewBag.Title = "RSS-ридер";
    Layout = "/Views/RSS/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RssIndex</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        h2 a {
            color: #363636;
        }
    </style>

    <style type="text/css">
        .space {
            padding: 20px; /* Поля */
            background: #F5F8FA; /* Цвет фона */
            border: 2px solid #B3B3B3; /* Параметры рамки */
        }
    </style>

    <style type="text/css">
        img {
            width: 60px;
            height: 60%;
        }
    </style>

</head>

<body>
    @*Пробрасываем конфигурацию в представление*@
    @inject IConfiguration configuration


    <div style="border-bottom: 1px solid black;" id="update_status"></div>
    <div id="result_text"></div>

    <script> 

        //Запуск обновления ленты. Таймаут равен 0, обновление запускается сразу
        let timerId = setTimeout(function getInfo() {

            //Оповещение о начале обновления
            $("#update_status").text("Идет обновление ленты");

            //Получаем блок DIV, хранящий новости в ленте и очищаем его содержимое
            let results = $('#result_text'); 
            results.empty();

            //Отправка запроса к контроллеру RSS, метод RssIndex. Ожидаемый ответ - список RSS-элементов в JSON-формате
            $.post("/RSS/RssIndex")
                .done(function(data) {

                    //Проверяем количество RSS-элементов в списке - если 0, то либо указаны неправильные адреса лент, либо неправильные настройки прокси
                    if (data.length == 0) {
                        results.append("<h6>Не удалось получить новости. Проверьте адреса RSS-лент и параметры прокси-сервера</h6>");
                    }
                    //Для каждого RSS-элемента
                    for (let i = 0; i < data.length; i++) 
                    {
                        //Формируем блок текущего RSS-элемента. Блок DIV для описания создается без контента
                        results.append('<div style="border-bottom: 1px solid black;"><h2><a href="' + data[i].link +
                            '" target="_blank">' + data[i].title + '</a></h2><div class="space" id="description' + i + '">' +
                            '</div><p>Дата добавления: <b>' + data[i].publishDate + '</b></p></div>');

                        //Проверка настроек формата описания. В зависимости от текущей происходит выбор text/html
                        if (@configuration["DescriptionFormating:Enable"] === true) 
                        {
                            //Вывод описания с форматированием по тегам
                            $("#description" + i).html(data[i].description);
                        }
                        else 
                        {
                            //Вывод описания без форматирования
                            $("#description" + i).text(data[i].description);
                        }   
                    }
                    //Выключение оповещения об обновлении
                    let update_status = $("#update_status");
                    update_status.empty();

                    //По завершении текущего обновления запускается таймер на следующее обновление
                    timerId = setTimeout(getInfo, @configuration["UpdateTime:Value"] * 1000);
                });
        }, 0);

    </script>


</body>
</html>



