@{
    ViewBag.Title = "RSS-ридер";
    Layout = "/Views/RSS/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RssIndex</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        h2 a {
            color: #363636;
        }
    </style>

    <style type="text/css">
        .space {
            padding: 20px; /* Поля */
            background: #F5F8FA; /* Цвет фона */
            border: 2px solid #B3B3B3; /* Параметры рамки */
        }
    </style>

    <style type="text/css">
        img {
            width: 60px;
            height: 60%;
        }
    </style>

</head>

<body>
    @inject IConfiguration configuration

    <h3>Период обновления ленты: @configuration["UpdateTime:Value"] секунд</h3>

    <div style="border-bottom: 1px solid black;" id="update_status"></div>
    <div id="result_text"></div>


    <script>
        let timerId = setTimeout(function getInfo() {
            $("#update_status").text("Идет обновление ленты");

            $.post("/RSS/RssIndex")
                .done(function(data) {
                    var count = data.length;
                    var results = $('#result_text'); // получаем нужный элемент

                    results.empty(); //очищаем элемент

                    for (var i = 0; i < data.length; i++) 
                    {
                        // добавляем данные в список
                        results.append('<div style="border-bottom: 1px solid black;"><h2><a href=' + data[i].link +
                            'target="_blank">' + data[i].title + '</a></h2><div class="space" id="description' + i + '">' +
                            '</div><p>Дата добавления: <b>' + data[i].publishDate + '</b></p></div>');


                        if (@configuration["DescriptionFormating:Enable"] === true) 
                        {
                            $("#description" + i).html(data[i].description);
                        }
                        else 
                        {
                            $("#description" + i).text(data[i].description);
                        }

                        //Убираем сообщение об обновлении данных
                        var update_status = $("#update_status");
                        update_status.empty();
                    }

                    timerId = setTimeout(getInfo, @configuration["UpdateTime:Value"] * 1000); // (*)
                });
        }, 0);



        function ChangeFormat() {
            $.post("/RSS/RssFormat")
                .done(function(data) {
                });
            location.reload();
        }


        function ChangeUpdateInterval() {
            var val = document.getElementById('elem1').value;
            $.post("/RSS/RssChangeUpdateTime", { param: val })
                .done(function(data) {
                });
            location.reload();
        }

    </script>


</body>
</html>



