<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<FeedUrl>
		<FeedUrl_1>http://www.pobeda-aksay.ru/feed/</FeedUrl_1>
		<FeedUrl_2>https://habr.com/rss/interesting/</FeedUrl_2>
	</FeedUrl>
	<FeedEnable>
		<FeedEnable_1>http://www.pobeda-aksay.ru/feed/</FeedEnable_1>
		<FeedEnable_2>https://habr.com/rss/interesting/</FeedEnable_2>
	</FeedEnable>


	<Feeds>
		<Feeds_Addresses>
			<Url name="0">http://www.pobeda-aksay.ru/feed/</Url>
			<Url name="1">https://habr.com/rss/interesting/</Url>
		</Feeds_Addresses>
		<Feeds_States>
			<Enable name="0">true</Enable>
			<Enable name="1">false</Enable>
		</Feeds_States>
	</Feeds>


	<UpdateTime Value ="30" />
	<DescriptionFormating Enable ="true"/>
	<ProxySettings Address ="94.158.189.78:50207">
		<Login>8fu9jxas</Login>
		<Password>bxnbWr4V</Password>
	</ProxySettings>
</configuration>





<!--В файле настроек хранится:
Лента, которую обрабатывает фидер. По умолчанию это (https://habr.com/rss/interesting/).
Частота обновления ленты приложением.  

Настройки для прокси-сервера - 
адрес и учётные данные для подключения.-->
