<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<MinUpdateTime>10</MinUpdateTime>
	<UpdateTime>200</UpdateTime>
	<DescriptionFormating>true</DescriptionFormating>
	
	<Feeds>
		<Feeds_Addresses>
			<Url name="0">http://www.pobeda-aksay.ru/feed/</Url>
			<Url name="1">https://habr.com/rss/interesting/</Url>
			<Url name="2">https://hi-news.ru/feed</Url>
			<Url name="3">https://news.rambler.ru/rss/Russia/?limit=100</Url>
			<Url name="4">https://cubiq.ru/news/feed/</Url>
			<Url name="5">https://www.adme.ru/rss/</Url>
		</Feeds_Addresses>
		<Feeds_States>
			<Enable name="0">true</Enable>
			<Enable name="1">true</Enable>
			<Enable name="2">false</Enable>
			<Enable name="3">false</Enable>
			<Enable name="4">false</Enable>
			<Enable name="5">false</Enable>
		</Feeds_States>
	</Feeds>

	<ProxyConfiguration>
		<Address>94.158.189.78:50207</Address>
		<Login>8fu9jxas</Login>
		<Password>bxnbWr4V</Password>
	</ProxyConfiguration>
</configuration>





<!--В файле настроек хранится:
  В обязательном порядке должны быть указаны значения для минимального, текущего времени обновления (MminUpdateTime,UpdateTime) и для настройки форматирования (DescriptionFormating) 
адрес и учётные данные для подключения.Можно добавить в контроллерные методы проверку и в случае чего возвращать ErrorPage-->
